{{#with user}}
<div class="container">
    <h1>Perfil de {{username}}</h1>

    <p>Email: {{email}}</p>
    <figure>
        <img src={{profileImg}} alt="Imagen de perfil de {{username}}">
    </figure>
    <p>Estatus: {{role}}</p>
    <p>Número de teléfono: {{phoneNumber}}</p>

    {{#if ../isAdmin}}
    <form action="/profile/{{id}}/delete" method="POST">
        <button class="nav-link">BORRAR</button>
    </form>
    {{/if}}

    <button class="nav-link"><a href="profile/{{id}}/edit">EDITAR</a></button>
</div>
{{/with}}