{{#with user}}
<div class="container">
    <h1>Perfil de {{username}}</h1>
    <div class="row">
        <div class="col-md-6">
            <figure>
                <img src={{profileImg}} alt="Imagen de perfil de {{username}}">
            </figure>
        </div>
        <div class="col-md-6">
            <p>Email: {{email}}</p>

            <p>Estatus: {{role}}</p>
            <p>Número de teléfono: {{phoneNumber}}</p>

            {{#if ../isAdmin}}
            <form action="/profile/{{id}}/delete" method="POST">
                <button class="nav-link">Borrar</button>
            </form>
            {{/if}}

            <button class="nav-link"><a href="profile/{{id}}/edit">Editar perfil</a></button>
        </div>
    </div>



    {{/with}}
</div>